@font-face {
    font-family: "Neon80";
    src: url(sitewide_assets/fonts/neon80/neon.ttf);
}

@font-face {
    font-family: "Arvo";
    src: url(sitewide_assets/fonts/arvo/arvo-regular.ttf);
}


body {
    background-color: #404040;
    font-family: arvo;
}

h1 {
    font-family: neon80;
    font-size: 5vw;
}

h2 {
    font-family: neon80;
}

p {
    font-size: 1.5vw;
}

summary {
    font-size: 2vw
}

abbr {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.footer {
    background-color: #0d0d0d;
    padding-top: 25px;
    padding-bottom: 100px;
    text-align: center;
    
}

.footer a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.uniLogo {
    float: right;
}