@font-face {
    font-family: "Neon80";
    src: url(sitewide_assets/fonts/neon80/neon.ttf);
}

@font-face {
    font-family: "Arvo";
    src: url(sitewide_assets/fonts/arvo/arvo-regular.ttf);
}


body {
    background-color: #404040;
    font-family: arvo;
}

h1 {
    font-size: 3vw;
    font-family: neon80;
}

h2 {
    font-family: neon80;
}

.title {
  border-bottom: none;
  cursor: inherit;
  text-decoration: none;
}

footer {
    background-color: #0d0d0d;
    padding-top: 25px;
    padding-bottom: 100px;
    text-align: center;
    clear: both;
    
}

footer a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.uniLogo {
    float: right;
}

.anchor {
    font-size: 4vw;
}

.frameTitle {
    font-family: neon80;
    font-size: 0.5em
}

.frameContent {
    font-size: 0.25em;
}

p {
    font-size: 0.25em
}

p .frameContent {
    font-size: 1em;
}

p .frameTitle {
    font-size: 2em;
}

.headImg {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 0;
}

.reference {
    font-size: 0.125em;
}