.osiDrop {
    text-align: left;
    overflow: hidden;
}

.arrow {
    text-align: right;
}

.osiDrop .sevenDropBtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: #f2f2f2;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.osiDrop .sixDropBtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: #f2f2f2;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.osiDrop .fiveDropBtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: #f2f2f2;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.osiDrop .fourDropBtn {
    background-color: black;
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: #f2f2f2;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
}

.osiDrop .threeDropBtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: #f2f2f2;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.osiDrop .twoDropBtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: #f2f2f2;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.osiDrop .oneDropBtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: #f2f2f2;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.7Drop-content {
    display: none;
    position: absolute;
    background-color: #373737;
    color: #ddd;
    min-width: 160px;
    z-index: 1;
}

.6Drop-content {
    display: none;
    position: absolute;
    background-color: #373737;
    color: #ddd;
    min-width: 160px;
    z-index: 1;
}

.5Drop-content {
    display: none;
    position: absolute;
    background-color: #373737;
    color: #ddd;
    min-width: 160px;
    z-index: 1;
}

.4Drop-content {
    display: none;
    position: absolute;
    background-color: #373737;
    color: #ddd;
    min-width: 160px;
    z-index: 1;
}

.3Drop-content {
    display: none;
    position: absolute;
    background-color: #373737;
    color: #ddd;
    min-width: 160px;
    z-index: 1;
}

.2Drop-content {
    display: none;
    position: absolute;
    background-color: #373737;
    color: #ddd;
    min-width: 160px;
    z-index: 1;
}

.1Drop-content {
    display: none;
    position: absolute;
    background-color: #373737;
    color: #ddd;
    min-width: 160px;
    z-index: 1;
}