h1 {
    font-size: 5vw;
}
.osiTitle {
    font-family: neon80;
    font-size: 2.5vw;
}

.osiContent {
    font-family: arvo;
}

summary {
  list-style-image: url(arrow.png);
}

summary::-webkit-details-marker {
  background: url(arrow.png);
  color: transparent;
}