.osiTitle {
    font-family: neon80;
    font-size: 16vw;
}

.osiContent {
    font-family: arvo;
}

.sevenDrop {
    height: 16vh;
    width: 16vw;
}

summary {
  list-style-image: url(arrow.png);
}

summary::-webkit-details-marker {
  background: url(arrow.png);
  color: transparent;
}