article img {
    border: 4px solid #f2f2f2;
}

summary {
    list-style-image: none;
    cursor: pointer;
}

details[open] summary {
    list-style-image: none;
}

.imgLeft {
    float: left;
    margin-right: 0.4em;
}


.imgRight {
    float: right;
}

.nextLine {
    clear: both;
}

.headImg {
    background-image: url(internet.png);
    padding-bottom: 25em;
}


#jkillen {
    padding-left: 0.25em;
}

#uniContent:after {
    list-style-image: url(../../sitewide_assets/power_red.png);
}

details[open] summary #uniContent:after {
    list-style-image: url(../../sitewide_assets/power_green.png);
}

#siteContent {
    padding-bottom: 2em
}

#webTitle {
    padding-top: none;
}

