article img {
    border: 4px solid #f2f2f2;
    float: left;
}

article {
    font-size: 4vw;
}

p {
    font-size: 0.25em
}

p .aboutContent {
    font-size: 1em;
}

p .aboutTitle {
    font-family: neon80;
    font-size: 2em;
}
