article img {
    border: 4px solid #f2f2f2;
}

summary {
    list-style-type: none;
    cursor: pointer;
}

.imgLeft {
    float: left;
}


.imgRight {
    float: right;
}

.aboutTitle {
    font-family: neon80;
    font-size: 0.5em
}

.aboutContent {
    font-size: 0.25em;
}

p {
    font-size: 0.25em
}

p .aboutContent {
    font-size: 1em;
}

p .aboutTitle {
    font-size: 2em;
}

.nextLine {
    clear: both;
}

.headImg {
    background-image: url(internet.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 0;
    padding-bottom: 50.2em;
}

#jkillen {
    padding-left: 8px;
}

#uniContent:after {
    content: "+"
}

#siteContent {
    padding-bottom: 2em
}

#webTitle {
    padding-top: none;
}

